<style>
    .navbar {
        background-color: var(--secondary) !important;
        border: 1px solid var(--border)
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand hSecondary">
            <b> Exclsv.com</b>
           </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">

            </div>


            <div class="navbar-nav">
                <a href="/categories">
                    <button class="btn btnPrimary mx-2 my-1">
                        Shop Now
                    </button>
                </a>
                
                <% if(authenticated){ %>
                    <a href="/dashboard">
                        <button class="btn btnSecondary mx-2 my-1">
                            <b>Dashboard</b>
                        </button>
                    </a>

                    <% }else{ %>
                        <a href="/signup">
                            <button class="btn btnSecondary mx-2 my-1">
                                <b>Signup</b>

                            </button>
                        </a>

                        <% } %>
            </div>
        </div>
    </div>
</nav>