<style>
.nav{
    min-height:50px;
    width:100%;
    background-color:#6f6f93;
    color:white;
    position:fixed;
    top:0;
    z-index: 100;
}
.nav .navInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav h4{
    font-family: cursive !important;
    color:white !important;
}
.nav ul{
    padding-top:10px;
    display:flex;
}
.nav li{
    display: block;
    margin: 0 20px;
    font-size: large;
}
.nav a{
  
    color:white;
    text-decoration: none;
}
.nav a:hover{
       color:#3c3c4e
}
</style>

<div class="nav">
   <div class="navInner w-100">
       <div class="left mx-5">
           <a href="/">
            <h4 >Root</h4>
           </a>
       
       </div>
       <div class="right mx-3">
          
            <ul class="font-monospace">
                <a href="/products">
                    <li>Products</li>
                </a>
                <% if(authenticated){ %>
                <a href="/dashboard">
                    <li><i class="fa-solid fa-user"></i></li>
                </a>
                <% }else{ %>
                    <a href="/signup">
                            <li class="signupLink">
                                Signup
                            </li> 
                    </a>
                <% } %>


            </ul>
           


       </div>
     
   </div>
</div>